@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Rubik+Wet+Paint&display=swap");

$LogoFont: "Rubik Wet Paint", cursive;
$MainFont: "Baloo 2", cursive;
$BannerColor: #871c84;
$Shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$GradientBackground: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
